.baklava1 {
  width:100%;
  height:auto;
}

.aciklama {
  color:gray;
  font-weight:50;
}
.baklava3 {
  width:100%;
  height:auto;
}

.aciklama2{
  color:gray;
  font-weight:50;
}

.konu2 {
  color:lightblue;
}